.gradient-custom {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, rgb(0, 13, 107, 0.9), rgb(0, 13, 107, 0.9));
    background: linear-gradient(to right bottom, rgb(0, 13, 107, 0.9), rgb(0, 13, 107, 0.9));
    
  }
h5{
  
  color: white;
}
